// recommendation cards
.recomendation {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: -100px;

    @media screen and (max-width: 1024px) {
        top: 0;
    }

    .rec-card {
        flex: 0 1 30%;
        padding: 1.5rem;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
        transition: .4s transform;



        &:hover {
            transform: scale(1.05);
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: 700;
            color: #223263;
        }

        .card-img {
            img {
                width: 100%
            }
        }

        .card-price {
            @include flexConfig(row, space-between);
            align-items: center;
            font-weight: 700;

            &__sale {
                font-size: 18px;
                color: #FB7181;

                .old-price {
                    text-decoration: line-through;
                    color: #555 !important;
                }


            }

            &__price {
                font-size: 1.5rem;
                color: #40BFFF;
            }

        }


        @media screen and (max-width: 1024px) {
            flex: 0 1 300px;
        }

    }
}

// product card 



.card {
    padding: .5rem;
    text-align: center;
    position: relative;
    transition: .5s transform;
    border-radius: 0.25rem;
    flex: 0 1 25%;


    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 0px rgba(233, 211, 211, 1);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(233, 211, 211, 1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(233, 211, 211, 1);
    }


    .badge {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FF4858;
        color: #fff;
        padding: 0.25rem;
        border: 0.25rem;

    }


    &-img {
        width: 300px;
        height: 294px;

        img {
            width: 100%;
            object-fit: scale-down;
        }

    }



    &-info__price {
        @include flexConfig(row, space-around);
        font-size: 18px;
        font-weight: 700;

        .new-price span {
            color: #40BFFF;
        }

        .sale-price {
            color: #FB7181;

            .old-price {
                color: #555;
                text-decoration: line-through;
            }
        }
    }

    &-info .card-text {
        display: none;
        color: #333;
    }
}


.card2 {
    @include flexConfig(row, flex-start);
    align-items: center;
    flex: 0 1 325px;
    padding: 5px;
    transition: transform .3s;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;

    &:hover {
        transform: scale(1.04);
        border: 1px solid rgb(129, 129, 129);
    }

    &-content {
        .card2-title {
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: .25rem;
        }

        .stars {
            margin-bottom: .25rem;
        }

        .card2-price {
            text-align: end;

            .price {
                color: #FF4858;
                font-weight: 700;
            }

            .price-old {
                text-decoration: line-through;
                color: #555;
            }
        }
    }

}

.stars {
    @include flexConfig(row, center);
    column-gap: 0.25rem;
    margin: 0.5rem 0;
}